/* Copyright (c) 2013-2020 Texas Instruments Incorporated.  All rights reserved. */

/* Styling for the entire document. */
body
{
    background-color: #282828;
    color: #ebdbb2;
    font-family: Ariel,Helvetica,sans-serif;
}

/* Styling for the heading div. */
#heading
{
    clear: both;
    margin-bottom: 10px;
}

#heading_h1
{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

#heading_h2
{
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

#heading hr
{
    border-bottom: 1px solid #458588;
    border-top: 1px solid #458588;
}

#heading a img
{
    border: 0;
}

/* Styling for the menu div. */
#menu
{
    float: top;
    margin-top: 10px;
    margin-bottom: 10px;
}

#menu td
{
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

#menu a:link, #menu a:visited
{
    background-color: #3c3836;
    color: #d79921;
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
}

#menu a:hover, #menu a:active
{
    background-color: #504945;
}

.menu {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.menu_cell {
    width: 25%;
}

/* Styling for the content div. */
#content
{
    margin-bottom: 10px;
}

#content_heading
{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

/* Styling for the footing div. */
#footing
{
    clear: both;
    font-size: .75em;
    font-style: italic;
    text-align: right;
}

#footing hr
{
    border-bottom: 1px solid #458588;
    border-top: 1px solid #458588;
}


select {
    width: 85%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #d79921;
    background-color: #3c3836;
    border: none;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
    padding: 5px;
}

select:hover, select:active {
    background-color: #504945;
}

 
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.numberinput input {
    text-align: center;
    color: #d79921;
    display: inline-block;
    font-weight: bold;
    height: 24px;
    font-size: 12pt;
    border: 1px solid #3c3836;
    border-radius: 4px;
    background-color: #3c3836;
}

.textinput input {
    text-align: center;
    color: #d79921;
    display: inline-block;
    font-weight: bold;
    height: 24px;
    font-size: 12pt;
    border: 1px solid #3c3836;
    border-radius: 4px;
    background-color: #3c3836;
}

.textinput:hover, .textinput:active {
    background-color: #504945;
    font-weight: bold;
}

.button {
    width: 75%;
    border: none;
    color: #d79921;
    background-color: #3c3836;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.button:hover, .button:active {
    background-color: #504945;
    font-weight: bold;
}

.tableControlButtons:hover, .tableControlButtons:active {
    background-color: #504945;
    font-weight: bold;
}

.tableControlButtons {
    border: none;
    color: #d79921;
    background-color: #3c3836;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.deleteButton {
    color: #d79921;
    background-color: #3c3836;
    display: inline-block;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}

.deleteButton:hover, .deleteButton:active {
    background-color: #504945;
    font-weight: bold;
}

.configureIO_label {
    font-weight: bold;
    font-size: 16px;
    vertical-align: top;
}

textarea {
    outline: none;
    border: none;
    color: #ebdbb2;
    background-color: #3c3836;
    width: 100%;
    height: 75px;
    font-weight: bold;
    font-size: 16px;
    resize: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

