.dataTable {
    border-spacing: 0;
    margin: 1rem;
    background-color: #504945;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.dataTable_row:nth-child(even) {
    background-color: #7c6764;
}

.dataTable_header {
    text-align: center;
}

.dataTable_cell {
    padding: 8px;
    text-align: center;
}

.addIO {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.addIO_cell {
    width: 16%;
    text-align: center;
}

.configureIO {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 75%;
}

.configureIO_headercell {
    text-align: center;
    width: 25%;
}

.configureIO_cell {
    text-align: center;
    width: 33%;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tableControls {
    margin-left: auto;
    margin-right: auto;
}

.tableControlsCell {
    text-align: center;
    padding: 5px;
}

