<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>PSW</title>
    <link rel="stylesheet" type="text/css" href=
        "{{ url_for('static', filename='styles.css') }}"/>
    <script src="{{ url_for('static', filename='tribute.js') }}"></script>
    <script src="{{ url_for('static', filename='table.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript.js') }}"></script>
  </head>
  <body>
    <div id="heading">
      <table width="100%">
        <tr>
          <td width="100%">
            <div id="heading_h1">
              Panel Sterowania Wszechświatem
            </div>
            <div id="heading_h2">
              Marcin Osiński &ltosinski.marcin.r@gmail.com&gt &copy; 2022
            </div>
            <div id="final-countdown">
            </div>
          </td>
        </tr>
      </table>
      <hr><hr>
    </div>
    <div id="menu">
      <table class="menu">
        <tr>
        <td class="menu_cell">
            <a href="mainpanel.html" id="mainpanel_MenuButton">
                Panel Główny
            </a>
        <td class="menu_cell">
            <a href="io-add.html" id="io-add_MenuButton">
                Dodaj I/O
            </a>
        <td class="menu_cell">
            <a href="io-configure.html" id="io-configure_MenuButton">
                Konfiguracja Wyjść
            </a>
        <td class="menu_cell">
            <a href="help.html" id="help-documentation_MenuButton"
               target="_blank">
                Pomoc / Dokumentacja
            </a>
        </tr>
      </table>
    </div>
    <div id="content"></div>
    <div id="footing"><hr><hr></div>
  </body>
</html>
