{% from 'macros.html' import combobox %}
{% from 'macros.html' import table %}

<!DOCTYPE HTML>
<html>
  <head>
    <title>Panel Sterowania Wszechświatem</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href=
        "{{ url_for('static', filename='styles.css') }}"/>
    <link rel="stylesheet" type="text/css" href=
        "{{ url_for('static', filename='table.css') }}"/>
    <link rel="stylesheet" type="text/css" href=
        "{{ url_for('static', filename='switch.css') }}"/>
  </head>
  <body>
    <p id="content_heading">Dodaj I/O</p>
    <hr>
    <br>
    <div id="dataDiv_configuredIO" data-data="{{ data_configuredIO }}"></div>
    
    <table class="addIO">
    <tr>
        <th class="addIO_cell">
            Nazwa
        </th>
        <th class="addIO_cell">
            I/O
        </th>
        <th class="addIO_cell">
            Adres Węzła
        </th>
        <th class="addIO_cell">
            Urządzenie
        </th>
        <th class="addIO_cell">
            Port_Pin
        </th>
        <th  class="addIO_cell">
        </th>
    </tr>
    <tr>
        <td class="addIO_cell">
            <label class="textinput">
            <input type="text" id="io_nameInput" onkeyup="io_nameKeyUp(this)" />
            </label>
        </td>
        <td class="addIO_cell">
            {{ combobox("directions", dirs, "io_pinDirChanged(this)") }}
        </td>
        <td class="addIO_cell">
            {{ combobox("nodeAddress", nodeAddresses, 
                        "io_nodeAddrChanged(this)") }}
        </td>
        <td class="addIO_cell">
            {{ combobox("device", devices, "io_deviceChanged(this)") }}
        </td>
        <td class="addIO_cell">
            {{ combobox("pins", pins, "io_portPinChanged(this)") }}
        </td>
        <td class="addIO_cell">
            <button class="button" onclick="addIO()">Dodaj</button>
        </td>
    </tr>
    </table>

    <br>

    {{ table("tableIOs", tableHeaders_configuredIO, tableData_configuredIO) }} 

    <table class="tableControls" id="tableControls_addIOs">
    <tr>
        <td class="tableControlsCell">
            <button class="tableControlButtons" 
                    id="tableIOControlPreviousButton"
                    onclick="tableIO.setPreviousPage()">
                &lt
            </button>
        </td>
        <td class="tableControlsCell">
            <label class="tableControlLabel"
                    id="label_ioTableControlItemCount">
                ...
            </label>
        </td>
        <td class="tableControlsCell">
            <button class="tableControlButtons" 
                    id="tableIOControlNextButton"
                    onclick="tableIO.setNextPage()">
                &gt
            </button>
        </td>
        <td class="tableControlsCell">
            <label class="textinput">
                <input type="text" id="textAreaIOtableFiltering"
            </label>
        </td>
    </tr>
    </table>

  </body>
</html>
