{% from 'macros.html' import combobox %}
{% from 'macros.html' import textarea %}

<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>Panel Sterowania Wszechświatem</title>
    <link rel="stylesheet" type="text/css" href=
        "{{ url_for('static', filename='styles.css') }}"/>
    <link rel="stylesheet" type="text/css" href=
        "{{ url_for('static', filename='table.css') }}"/>
    <link rel="stylesheet" type="text/css" href=
        "{{ url_for('static', filename='tribute.css') }}"/>
  </head>
  <body>
    <p id="content_heading">Konfiguracja I/O</p>
    <hr>
    <br>
    <div id="dataDiv_inputs" data-inputs="{{ inputs }}"></div>
    <div id="dataDiv_outputs" data-outputs="{{ outputs }}"></div>

    <table class="configureIO">
    <tr>
        <th class="configureIO_headercell">
            Wyjście
        </th>
        <th class="configureIO_headercell">
            Stan domyślny
        </th>
        <th class="configureIO_headercell">
        </th>
    </tr>
    <tr>
        <td class="configureIO_headercell">
            {{ combobox("outputs", outputs, "io_outputSelected(this)") }}
        </td>
        <td class="configureIO_headercell">
            {{ combobox("defaultState", ['Nieaktywne','Aktywne'], "") }}
        </td>
        <td class="configureIO_headercell">
            <button class="button" onclick="addIOConfig()">Akceptuj</button>
        </td>
    </tr>
    <tr>
        <td class="configureIO_cell">
            <label class="configureIO_label">
            Warunki do włączenia 
            </label>
        </td>
        <td colspan="2" class="configureIO_cell">
            {{ textarea("textareaEnable", enablingConditions) }}
        </td>
    </tr>
    <tr>
        <td class="configureIO_cell">
            <label class="configureIO_label">
            Warunki do włączenia mrugania 
            </label>
        </td>
        <td colspan="2" class="configureIO_cell">
            {{ textarea("textareaBlinkingEnable", blinkingEnablingConditions) }}
        </td>
    </tr>
    <tr>
        <td class="configureIO_cell">
            <label class="configureIO_label">
            Warunki do wyłączenia 
            </label>
        </td>
        <td colspan="2" class="configureIO_cell">
            {{ textarea("textareaDisable", disablingConditions) }}
        </td>
    </tr>
    <tr>
        <td class="configureIO_cell">
            <label class="configureIO_label">
            Warunki do wyłączenia mrugania 
            </label>
        </td>
        <td colspan="2" class="configureIO_cell">
            {{ textarea("textareaBlinkingDisable", blinkingDisablingConditions) }}
        </td>
    </tr>
    </table>

    <img src={{ url_for('static', filename='logic_helper.svg') }}
         class="svg-img"/>
    
  </body>
</html> 
