{% macro headerRow(headers) %}
    <tr class="dataTable_headers">
        {% for header in headers %}
        <th class="dataTable_cell">{{ header }}</th>
        {% endfor %}
    </tr>
{% endmacro %}

{% macro dataRows(data) %}
    {% for row in data %}
        <tr class="dataTable_row">
            {% for cell in row %}
            <td class="dataTable_cell">{{ cell }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endmacro %}

{% macro table(id, headers, data) %}
    <table class="dataTable" id="{{id}}">
        {{ headerRow(headers) }}
        {{ dataRows(data) }}
    </table>
{% endmacro %}


{% macro combobox(name, items, onChangeFun) %}
    <select id="{{name}}" onchange="{{onChangeFun}}">
        {% for item in items %}
        <option value="{{item}}">{{item}}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro textarea(id, text) %}
    <label class="textinput_ioConfig">
        <textarea id={{id}} name="io_configDisable" required>{{text}}</textarea>
    </label>
{% endmacro %}
    
