{% from 'macros.html' import table %}

<!DOCTYPE HTML>
<html>
  <head>
    <title>Panel Sterowania Wszechświatem</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href=
        "{{ url_for('static', filename='styles.css') }}"/>
    <link rel="stylesheet" type="text/css" href=
        "{{ url_for('static', filename='table.css') }}"/>
  </head>
  <body>
    <p id="content_heading">Panel Główny</p>
    <hr>

    <br>

    <div id="dataDiv_busAvailable" data-data="{{ bus_available }}"></div>
    <div id="dataDiv_iosFileFound" data-data="{{ ios_file_found }}"></div>
    <div id="dataDiv_status" data-data="{{ data_status }}"></div>
    <div id="dataDiv_logs" data-data="{{ data_logs }}"></div>

    <br>

    <center>
        <button class="button" onclick="sendConfigsToNodes()">
	    Aktualizuj konfigurację węzłów
	</button>
    </center>

    <br>
    
    {{ table("tableStatus", headers_status) }}
    <br>
    {{ table("tableLogs", headers_log) }}

  </body>
</html>
